:host {
  position: fixed;
  top: 20px;
  left: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.ms-outlined {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
