@use 'node_modules/freya/styles/tokens/frey-tokens.scss';
@use 'node_modules/freya/styles/table/table.scss';
@use 'node_modules/freya/styles/paginator/paginator.scss';
@use 'node_modules/freya/styles/button/button.scss';
@use 'node_modules/freya/styles/form/form.scss';
@use 'node_modules/freya/styles/timepicker/timepicker.scss';
@use 'node_modules/freya/styles/datepicker/datepicker.scss';
@use 'node_modules/freya/styles/alert/alert.scss';
@use 'node_modules/freya/styles/modal/modal.scss';
@use 'node_modules/freya/styles/tooltip/tooltip.scss';

:root {
  --frey-color-primary: #ffa733;
  --frey-color-primary-hover: #ffd580;
  --frey-color-primary-active: #cc8400;
  --frey-shadow-primary: 0 0 0 2px rgba(255, 167, 51, 0.5);
}

frey-table thead {
  background: var(--frey-color-primary);
}

frey-table thead th {
  color: white;
}

frey-modal .modal__body {
  border-radius: 7px;
}

frey-modal .modal__cross:after {
  content: '\d7';
  color: var(--cross-color);
  position: absolute;
  width: 1.6875rem;
  height: 1.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  top: -7px;
  right: -7px;
  cursor: pointer;
}

frey-modal .modal__cross:before {
  content: ' ';
  position: absolute;
  top: -0.625rem;
  right: -0.625rem;
  background: var(--frey-color-primary);
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  cursor: pointer;
}
