@use 'freya';
@use 'google-icons';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #fffafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
button,
div,
td,
label,
span,
p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 400;
}

frey-table .ms-filled {
  cursor: pointer;
  font-size: 24px;
  height: 30px;
  display: flex;
  align-items: center;
  color: var(--frey-color-primary);
}
