$color-title: #222;
$color-highlight: #5570b5;

:host {
  width: 100%;
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  position: relative;
  z-index: 1;
  flex-direction: row;
}

.home__cat {
  width: 50%;
}

.home__hero {
  max-width: 400px;
}

.home__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $color-title;
  margin-bottom: 0.5rem;

  & .highlight {
    color: $color-highlight;
    display: block;
  }
}

.home__buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;

  [variant='solid'] {
    background-color: $color-highlight;
    border-color: $color-highlight;
  }
}

@media (max-width: 768px) {
  .home {
    flex-direction: column-reverse;
    padding: 20px 10px;
    max-width: 100%;
  }
  .home__cat {
    width: 80%;
    margin-top: 2rem;
  }
  .home__hero {
    max-width: 100%;
    text-align: center;
  }
}
